<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Home</title>    
</head>
<body>
    {% include 'header.html' %}

    <div class="container">
        <h1>Bem-vindo ao Delírios Manager!</h1>
        <p>Aqui você encontrará tudo para gerir sua confeitaria. Atualmente é possível cadastrar seus ingredientes, receitas e produtos!</p>
        <p>Fique à vontade para explorar os botões do header acima :D</p>
    </div>
</body>
</html>
