<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/style.css">

    <title>Cadastro de Ingrediente</title>
</head>
<body>
    {% include 'header.html' %}
    <div class="form-cont">
        <div class="registration-form">
            <h2 class="text-center">Cadastre o Ingrediente</h2>
            <form action="/new-ingredient/" method="post">
                {% csrf_token %}
                {{ form }}
                <input type="submit" value="Submit">
            </form>
        </div>
    </div>
</body>
</html>