<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/style.css">

    <title>Lista de Ingredientes</title>
</head>
<body>
    {% include 'header.html' %}
    <div class="list-cont">
    <p class="title">Lista de Ingredientes!</p>

        {% for ingredient in ingredients %}
        <div class="{% cycle 'row1' 'row2' %} row">
            <div class="list-text">
                <p>{{ ingredient.id }} - {{ ingredient.name }} - {{ ingredient.weight }} - {{ ingredient.brand }}</p>
            </div>
            <div class="icon-container">
                <a href="{%url 'ingredient-delete' ingredient.id%}"><i class="glyphicon glyphicon-remove list-icon"></i></a>
            </div>
            <div class="icon-container">
                <a href="{%url 'ingredient-update' ingredient.id%}"><i class="glyphicon glyphicon-pencil list-icon"></i></a>
            </div>

        </div>   
        {% endfor %}
        <div class="{% if ingredients|length|divisibleby:2 %}row1{% else %}row2{% endif %} row">
            <div class="icon-container plus">
                <a href="{%url 'new-ingredient'%}"><i class="glyphicon glyphicon-plus list-icon"></i></a>
            </div>
        </div>

    </div>

</body>
</html>
