<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../static/style.css">

    <title>Lista de Ingredientes</title>
</head>
<body>

    <div class="list-cont">
    <p class="title">Lista de Ingredientes!</p>

        {% for ingredient in ingredients %}
            <p class="{% cycle 'row1' 'row2' %}">{{ ingredient.id }} - {{ ingredient.name }} - {{ ingredient.weight }} - {{ ingredient.cost }}</p>
        {% endfor %}

    </div>

</body>
</html>
