<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">

    <title>Lista de Produtos</title>
</head>
<body>
    <p class="title">Lista de Produtos!</p>

    {% for product in products %}
            <p class="{% cycle 'row1' 'row2' %}">{{ product.id }} - {{ product.name }} - {{ product.weight }} - {{ product.cost }}</p>
        {% endfor %}

</body>
</html>