<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/style.css">


    <title>Histórico de Produtos</title>
</head>
<body>
    {% include 'header.html' %}
    <div class="list-cont">
    <p class="title">Histórico de Produtos em Estoque</p>

        {% for product in products %}
        <div class="{% cycle 'row1' 'row2' %} row">
            <div class="list-text flex-full">
                <div class="halfh">
                    <div class="list-name"><p>{{ product.quantity }} X {{ product.product.name }}</p></div>
                    <div class="list-name end"><p>R$ {{ product.total_cost }}</p></div>
                </div>
                <div class="list-details halfh">
                    <div class="list-info"><i class="glyphicon glyphicon-calendar small-icon"></i><p>{{ product.created_at }}</p></div>
                    <div class="list-info"><i class="glyphicon glyphicon-alert small-icon"></i><p>{{ product.expiration_date }}</p></div>
                </div>
            </div>
        </div>
        {% endfor %}
        <div class="{% if products|length|divisibleby:2 %}row1{% else %}row2{% endif %} row">
            <div class="icon-container plus">
                <a href="{%url 'add-products'%}"><i class="glyphicon glyphicon-plus list-icon"></i></a>
            </div>
            <div class="centerh abs abs-right">
                <a class="list-btn" href="{%url 'products-stock'%}">Estoque</a>
            </div>
        </div>
    </div>
</body>
</html>