<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/style.css">

    <title>Atualização do Produto</title>
</head>
<body>
    {% include 'header.html' %}
    {{product.id}}
        <div class="form-cont">
            <div class="registration-form">
                <p class="title">Produto: {{product.name}}</p>
            <form action="{%url 'product-update' product.id%}" method="post">
                {% csrf_token %}
                {{ form }}
                <input type="submit" value="Update">
            </form>
        </div>
    </div>
</body>
</html>