<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/style.css">


    <title>Histórico de Produção de Receita</title>
</head>
<body>
    {% include 'header.html' %}
    <div class="list-cont">
    <p class="title">Histórico de Produção de Receita</p>

        {% for recipe in recipes %}
        <div class="{% cycle 'row1' 'row2' %} row">
            <div class="list-text flex-full">
                <div class="halfh">
                    <div class="list-name"><p>{{ recipe.quantity }} X {{ recipe.recipe.name }}</p></div>
                    {% if recipe.expiration_date %}<div class="list-name end"><p>- R$ {{ recipe.cost }}</p></div>{% endif %}
                </div>
                <div class="list-details halfh">
                    <div class="list-info"><i class="glyphicon glyphicon-calendar small-icon"></i><p>{{ recipe.created_at }}</p></div>
                    {% if recipe.expiration_date %}<div class="list-info"><i class="glyphicon glyphicon-alert small-icon"></i><p>{{ recipe.expiration_date }}</p></div>{% endif %}
                    {% if recipe.expiration_date %}<div class="list-name end"><div class="glyphicon glyphicon-scale medium-icon"></div><p>{{ recipe.amount_yield }} {{ recipe.recipe.measure_type }}</p></div>{% endif %}
                </div>
            </div>
        </div>

        {% endfor %}
        <div class="{% if recipes|length|divisibleby:2 %}row1{% else %}row2{% endif %} row">
            <div class="icon-container plus">
                <a href="{%url 'add-recipes'%}"><i class="glyphicon glyphicon-plus list-icon"></i></a>
            </div>
            <div class="centerh abs abs-right">
                <a class="list-btn" href="{%url 'recipes-stock'%}">Estoque</a>
            </div>
        </div>
    </div>
</body>
</html>