<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
   
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/style.css">
   
    <title>Recipe Details</title>
</head>
<body>
    {% include 'header.html' %}
    <div class="list-cont">
            <form method="POST">
                {% csrf_token %}
                <p class="title">
                    Ingredientes {{ recipe_name }}: 
                </p>
                {{ formset.management_form }}

                {% for form in formset %}
                    <div class="{% cycle 'row1' 'row2' %} row flex-row">
                        {{ form.id }}
                        <div class="flex-third"><div class="form-ingredient">{{ form.ingredient }}</div></div>
                        <div class="flex-third"><div class="form-quantity">{{ form.quantity }}</div></div>
                        <div class="flex-third"><div class="form-delete">Remover {{ form.DELETE }}</div></div>
                    </div>   
                {% endfor %}
                
                <div class="{% if formset|length|divisibleby:2 %}row1{% else %}row2{% endif %} row centerh">
                    <div class="helfh center">
                        <button class="list-btn" type="submit">Salvar</button>
                        <a class="list-btn" href="{% url 'recipes-list' %}">Voltar</a>
                    </div>
                </div>
            </form>
    </div>
</body>
</html>