*{
    box-sizing: border-box;
    /*
    border: solid 1px red;
    */
}

.container{
    margin: auto;
    width: 500px;
    background-color: antiquewhite;
}

.center{
    margin: auto;
}

.list-cont{
    width: 60%;
    border: solid 2px #eee;
    border-radius: 5px;
    margin: auto;
    margin-top: 30px;
    box-shadow: 2px 2px 5px #5e5964;
}

.title{
    font-weight: 600;
    font-size: large;
    color: rgb(86, 87, 112);
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.list-text {
    display: flex;
    width: 80%;
    height: 100%;
    float: left;
}

.list-text p{
    margin: auto 0 auto 10px ;
    color: rgb(86, 87, 112);

}

.row{
    display: inline-box;
    margin: 0;
    height: 50px;
}

.row1{
    background-color: #eee;
}

.row2{

}

.icon-container{
    display: flex;
    height: 100%;
    width: 8%;
    float: right;
}

.icon-container a{
    display: flex;
    text-decoration: none;
    height: 100%;
    width: 50px;
}

.list-icon{
    display: flex;
    margin: auto;
    font-size: x-large;
    text-align: center;
    vertical-align: middle;
    line-height: normal;
    color: rgb(86, 87, 112);
}

.plus{
    float: none;
    margin: auto;
    text-align: center;
}

.plus a{
    margin: auto;
}
